@import "init.scss";
@import "constants.scss";
@import "header.scss";
@import "footer.scss";
@import "body.scss";

body{
    background: #f2f2f2;
}

.main{
    width: 100%;
    margin-top: $navHeight+20px;
    .wrapper{
        width: $pageWidth;
        margin: 0 auto;
        //background: green;
        // height: 1000px;
        overflow: hidden;
        .main-content-wrapper{
            // height: 500px;
            // background: red;
            .banner-group{
                width: 100%;
                height: $bannerHeight;
                background: #0e275e;
                position: relative; /* 默认static,下面有 position: absolute，就需要一个非static的位置作为基准*/
                overflow: hidden;
                .arrow{
                    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 70px;
                    color: white;
                    position: absolute;
                    top: 50%;
                    margin-top: -45px;
                    cursor: pointer;
                }
                .left-arrow{
                    left: 20px;
                }
                .right-arrow{
                    right: 20px;
                }

                .banner-ul{
                    overflow: hidden;
                    width: $bannerWidth*4;
                    position: absolute;
                    left: 0;

                    li{
                        float: left;
                        width: $bannerWidth;
                        height: $bannerHeight;

                        img{
                            width: $bannerWidth;
                            height: $bannerHeight;
                        }
                    }
                }

                .page-control-group{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20px;
                    z-index: 0;
                    .page-control{
                        margin: 0 auto;
                        overflow: hidden;
                        li{
                            width: 12px;
                            height: 12px;
                            border: 1px solid #ffffff;
                            border-radius: 50%;
                            float: left;
                            margin: 0 8px;
                            // box-sizing属性允许以某种方式定义某些元素，以适应指定区域
                            // 属性为"border-box"为元素设定的宽度和高度决定了元素的边框盒，就是说，为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制
                            // 换句话说：已设定的宽度和高度分别减去边框和内边距才能得到内容的宽度和高度
                            // 属性为"content-box"宽度和高度分别应用到元素的内容框，在宽度和高度之外绘制元素的内边距和边框；
                            // 换句话说：已设定的宽度和高度分别加上边框和外边距才能得到内容的宽度和高度
                            box-sizing: border-box;
                            cursor: pointer;
                            &.active{
                                background: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main{
    .wrapper{
        .main-content-wrapper{
            .list-outer-group{
                margin-top: 14px;
                background: #fff;
                .list-tab{
                    width: 100%;
                    height: 66px;
                    overflow: hidden;
                    border: 1px solid $linecolor;
                    border-left: none;
                    border-right: none;
                    li{
                        float: left;
                        padding: 0 10px;
                        margin-top: 20px;
                        a{
                            color: $assistFontcolor;
                        }
                        &:first-of-type{
                            border-left: 5px solid #5c87d9;
                        }
                        &.active{
                            a{
                                color: $mainFontcolor;
                            }
                        }
                    }
                }
                .list-inner-group{
                    li{
                        padding:20px;
                        overflow: hidden;
                        border-bottom: 1px solid $linecolor;
                        .thumbnail-group{
                            float: left;
                            height: 162px;
                            width: 220px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .news-group{
                            float: right;
                            width: 504px;
                            height: 162px;
                            position: relative;

                            .title{
                                font-size: 18px;
                                a{
                                    color: $mainFontcolor;
                                    &:hover{
                                        color: $themecolor;
                                    }
                                }
                            }

                            .desc{
                                color: $assistFontcolor;
                                font-size: 14px;
                                margin-top: 10px;
                            }

                            .more{
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                font-size: 14px;
                                color: $assistFontcolor;
                                .category{
                                    float: left;
                                    color: $themecolor;
                                }
                                .pub-time{
                                    float: right;
                                    margin-left: 20px;
                                }
                                .author{
                                    float: right;
                                }
                            }
                        }
                        //border-bottom: 1px solid $linecolor;
                    }
                }
                .load-more-group{
                    padding: 20px 0;
                    text-align: center;
                    .load-more{
                        width: 402px;
                        height: 40px;
                        background: #d2dcea;
                        color: #6d85ac;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }


        }
    }
}




