@import "constants.scss";
@import "init.scss";

body{
    background: pink;
}

.mask-wrapper{
    $authheight: 560px;
    $authwidth:400px;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    overflow-y: scroll;
    display: none;
    z-index: 100;

    .auth-wrapper{
        width: $authwidth;
        height: $authheight;
        position: absolute;
        //background: #fff;
        //margin: 40px auto;
        top: 50%;
        left: 50%;
        margin-left: -$authwidth/2;
        margin-top: -$authheight/2;
        .close-wrapper{
            width: 100%;
            height: 40px;
            background: #fff;
            .close-btn{
                display: inline-block;
                width: 30px;
                height: 30px;
                float: right;
                margin-top: 10px;
                color: $assistFontcolor;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .auth-inner-wrapper{
            width: 100%;
            height: $authheight - 40px;
            //background: #ccc;
            position: relative;
            overflow: hidden;
            .scroll-wrapper{
                width: $authwidth * 2;
                //height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                //background: #ffffff;

                .auth-group{
                    width: $authwidth;
                    height: 100%;
                    padding: 20px;
                    box-sizing: border-box;
                    .top-group{
                        width: 100%;
                        height: 36px;
                        border-bottom: 1px solid $linecolor;
                        line-height: 33px;
                        .title{
                            float: left;
                            color: $mainFontcolor;
                            border-bottom: 3px solid $themecolor;
                        }
                        .switch{
                            float: right;
                            color: $themecolor;

                        }
                    }

                    .form-group{
                        margin-top: 20px;
                        .input-group{
                            margin-bottom: 20px;
                            .form-control{
                                border: 1px solid #cccccc;
                                padding: 10px;
                                width: 100%;
                                height: 40px;
                                box-sizing: border-box;
                                outline: none;
                            }
                            .remember-label{
                                font-size: 14px;
                            }
                            .submit-btn{
                                width: 100%;
                                height: 40px;
                                background:$themecolor;
                                border: none;
                                color: #fff;
                                cursor: pointer;
                            }
                            .short-input-group{
                                width: 250px;
                                float: left;
                                margin-bottom: 20px;
                            }
                            .input-group-addon{
                                float: right;
                                width: 100px;
                                height: 40px;
                                .sms-captcha-btn{
                                    display: inline-block;
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $themecolor;
                                    color: $themecolor;
                                    text-align: center;
                                    line-height: 40px;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .signin-group{
                    float: left;
                    background: #fff;
                }
                .signup-group{
                    float: right;
                    background: #fff;
                }
            }
        }
    }
}

