@import "../common/init.scss";
@import "../common/constants.scss";
@import "../common/header.scss";
@import "../common/footer.scss";
@import "../common/body.scss";
@import "course_nav.scss";

.main{
    .wrapper{
        .course-list{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            li{
                $courseItemHeight:280px;
                $thumbnailHeight:158px;
                //float: left;
                background: #fff;
                width: 278px;
                height: $courseItemHeight;
                margin-bottom: 20px;
                .thumbnail-group{
                    width: 100%;
                    height: $thumbnailHeight;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .course-info{
                    padding: 16px;
                    width: 100%;
                    box-sizing: border-box;
                    height: $courseItemHeight - $thumbnailHeight;
                    //background: pink;
                    position: relative;
                    .title{
                        font-size: 16px;
                        color: $mainFontcolor;
                    }
                    .author{
                        margin-top: 10px;
                        font-size: 14px;
                        color: $assistFontcolor;
                    }
                    .price-group{
                        position: absolute;
                        font-size: 14px;
                        left: 16px;
                        right: 16px;
                        bottom: 16px;
                        text-align: right;
                        .free{
                            color: rgb(126,211,33);
                        }
                        .pay{
                            color: rgb(245,74,74);
                        }
                    }
                }
                &:hover{
                    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
                }
            }
        }
        .course-list > i {
            width: 258px;
            margin-right: 20px;
        }
    }
}




