@import "../common/init.scss";
@import "../common/constants.scss";
@import "../common/header";
@import "../common/footer";
@import "../common/body";

.main {
    margin-top: 64px;

    .course-nav {
        width: 100%;
        height: $coursenavheight;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        // background: pink;
        .nav-contain {
            width: $pageWidth;
            height: $coursenavheight;
            margin: 0 auto;
            line-height: $coursenavheight;

            h3.title {
                float: left;
                font-size: 24px;
                color: #696969;
            }

            .nav-list {
                float: left;
                margin-left: 100px;

                li {
                    float: left;
                    margin-right: 40px;

                    a {
                        color: #888888;
                        cursor: pointer;
                    }

                    &.active {
                        a {
                              color: $mainFontcolor;
                        }
                    }
                }
            }
        }
    }
}